<!DOCTYPE html>

<html>

	<head>
		<title> Dota 2 Team Manager </title>

		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		
		<!-- libraries -->
		<!-- angular, angular bootstrap -->
		<!-- http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.4,angular.bootstrap@0.13.3-->
		<script src="lib/custom-build.js"></script>
		<!-- https://github.com/fatlinesofcode/ngDraggable -->
		<script src="lib/ngDraggable.js"></script>
		<!-- https://github.com/gsklee/ngStorage -->
		<script src="lib/ngStorage.min.js"></script>

		<!-- app -->
		<script src="app.js"></script>
		<!-- services -->
		<script src="service/defaultTeams.js"></script>
		<script src="service/defaultPlayers.js"></script>
		<!-- controller -->
		<script src="controller/d2tmController.js"></script>	


	</head>

	<body ng-app="d2tm">

		<!-- main wrapper -->
		<div class="container" ng-controller="d2tmController">

			

			<div class="leftContainer panel panel-default">

				<div class="btn-group " dropdown is-open="status.teamDropdownOpen">
			      <button id="single-button" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
			        Select Team &nbsp;<span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
			        <li role="menuitem" ng-repeat="t in allTeams">
			        	<a ng-click="changeTeam($index)" href="">{{t.name}}</a>
			        </li>
			      </ul>
			    </div>

			    <hr />

			    <div class="teamName">
					{{team.name}}
				</div>

				<div class="teamLogo">
					<img ng-src="{{team.logo}}" ng-if="team.logo!=''" />
				</div>

				<div class="rosterList" >

			      <div ng-repeat="player in team.roster">

			      	<div class="tile well" ng-drop="true" ng-drop-success="onDropRL($index, $data,$event)" 
			      												 ng-drag="true" ng-drag-data="player" ng-drag-success="onDragRL($index, $data, $event)">
			      		
			      		<div class="pos">
		      				<div class="idx">
		      					{{ $index+1 }}
		      				</div>
			      		</div>

				      	<div class="pic" > 
				      		<img ng-src="{{allPlayers[player].picture}}" ng-if="allPlayers[player].picture!='' && allPlayers[player].picture!='none'"/>
				      		<i class="glyphicon glyphicon-question-sign" ng-if="allPlayers[player].picture=='none'"></i>
				      	</div>

				        <div class="info">
									<div class="playerHandle">{{ allPlayers[player].handle}}</div>
									<div class="playerName">{{ allPlayers[player].name }} </div>
								</div>

								<i ng-if="allPlayers[player].confirmed" class="glyphicon glyphicon-ok pull-right"></i>

							<!-- end tile -->	
							</div>

						<!-- end ng-repeat -->	
			      </div>

			  <!-- end rosterList -->    
				</div>

			<!-- end left -->
			</div>

			<div class="rightContainer">
			
				<accordion close-others="true">

					<!-- Instructions -->
					<accordion-group is-open="status.aboutOpen">

						<accordion-heading>
							About
							<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.aboutOpen, 'glyphicon-chevron-right': !status.aboutOpen}"></i>
						</accordion-heading>

						<p>Speculate on which rosters pro Dota 2 players will end up on this year! Click-and-drag players to move them to and from rosters. Players that have confirmed spots on rosters have check marks and cannot be moved. Changes to rosters, teams, and players are saved to the browser's local storage.</p>

						<p>With the post-TI shuffle going on, I thought this would be a fun app to make while learning <a href="http://angularjs.org">AngularJS</a>.</p>

						<p>Information was gathered manually and is not guaranteed to be accurate or up-to-date. Most player pictures are from <a href="http://starladder.tv">StarLadder</a>. Team logos are taken from their <a href="http://wiki.teamliquid.net">liquipedia</a> entries. Background from <a href="http://thepatternlibrary.com/">the pattern library</a>. This app uses AngularJS, Bootstrap, <a href="https://github.com/fatlinesofcode/ngDraggable">ngDraggable</a>, and <a href="https://github.com/gsklee/ngStorage">ngStorage</a>.</p>
						
					</accordion-group>

					<!-- Teams -->
					<accordion-group is-open="status.teamsOpen">
							
						<accordion-heading>
							Teams
							<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.teamsOpen, 'glyphicon-chevron-right': !status.teamsOpen}"></i>
						</accordion-heading>

						<!-- Add Team -->
						<h4><u>Add Team</u></h4>

						<form name="addTeamForm" class="form-horizontal" >

							<div class="form-group">
								<label for="teamName" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-5">
									<input type="text" id="teamName" ng-model="input.teamToCreate.name" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label for="teamLogo" class="col-sm-2 control-label">Logo (URL)</label>
								<div class="col-sm-5">
									<input type="url" id="teamLogo"ng-model="input.teamtoCreate.logo" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<button class="btn btn-primary" type="submit" ng-click="createTeam()">Add</button>
								</div>
							</div>

						</form>

						<hr />

						<!-- Edit Team -->
						<h4><u>Edit Team</u></h4>

						<form name="editTeamForm" class="form-horizontal" novalidate>

							<div class="form-group">
								<label for="selectTeam" class="col-sm-2 control-label">Select Team</label>
								<div class="btn-group col-sm-5" dropdown is-open="status.selectTeamToEdit" id="selectTeam">
									<button id="selectTeamBtn" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
										{{allTeams[input.teamToEdit.index].name}}&nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="selectTeamBtn">
										<li role="menuitem" ng-repeat="team in allTeams | orderBy: 'name'">
											<a ng-click="selectTeamToEdit(team)" href="">{{team.name}}</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="form-group">
								<label for="teamName" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-5">
									<input type="text" id="teamName" ng-model="input.teamToEdit.name" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label for="teamLogo" class="col-sm-2 control-label">Logo (URL)</label>
								<div class="col-sm-5">
									<input type="url" id="teamLogo"ng-model="input.teamToEdit.logo" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<button class="btn btn-primary" type="submit" ng-click="editTeam()">Edit</button>
								</div>
							</div>

						</form>

						<hr />

						<!-- Remove Team -->
						<h4><u>Remove Team</u></h4>

						<form name="removeTeamForm" class="form-horizontal">

							<div class="form-group">
								<label for="selectTeam" class="col-sm-2 control-label">Select Team</label>
								<div class="btn-group col-sm-5" dropdown is-open="status.selectTeamToRemove" id="selectTeam">
									<button id="selectTeamBtn" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
										{{allTeams[input.teamToRemove].name}}&nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="selectTeamBtn">
										<li role="menuitem" ng-repeat="team in allTeams | orderBy: 'name'">
											<a ng-click="selectTeamToRemove(team)" href="">{{team.name}}</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<button class="btn btn-primary" type="submit" ng-click="confirmDelete(true)">Remove</button>
								</div>
							</div>

						</form>

					</accordion-group>

					<!-- Players -->
					<accordion-group is-open="status.playersOpen">
							
						<accordion-heading>
							Players
							<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.playersOpen, 'glyphicon-chevron-right': !status.playersOpen}"></i>
						</accordion-heading>

						<!-- Add Player -->
						<h4><u>Add Player</u></h4>

						<form name="addPlayerForm" class="form-horizontal" >

							<div class="form-group">
								<label for="playerHandle" class="col-sm-2 control-label">Handle</label>
								<div class="col-sm-5">
									<input type="text" id="playerHandle" ng-model="input.playerToCreate.handle" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label for="playerName" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-5">
									<input type="text" id="playerName" ng-model="input.playerToCreate.name" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label for="playerPicture" class="col-sm-2 control-label">Logo (URL)</label>
								<div class="col-sm-5">
									<input type="url" id="playerPicture"ng-model="input.playertoCreate.picture" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<button class="btn btn-primary" type="submit" ng-click="createPlayer()">Add</button>
								</div>
							</div>

						</form>

						<hr />

						<!-- Edit Player -->
						<h4><u>Edit Player</u></h4>

						<form name="editPlayerForm" class="form-horizontal" novalidate>

							<div class="form-group">
								<label for="selectPlayer" class="col-sm-2 control-label">Select Player</label>
								<div class="btn-group col-sm-5" dropdown is-open="status.selectPlayerToEdit" id="selectPlayer">
									<button id="selectPlayerBtn" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
										{{allPlayers[input.playerToEdit.index].handle}}&nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="selectPlayerBtn">
										<li role="menuitem" ng-repeat="player in allPlayers | filter: playersFilter | orderBy: 'handle'">
											<a ng-click="selectPlayerToEdit(player)" href="">{{player.handle}}</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="form-group">
								<label for="playerHandle" class="col-sm-2 control-label">Handle</label>
								<div class="col-sm-5">
									<input type="text" id="playerHandle" ng-model="input.playerToEdit.handle" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label for="playerName" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-5">
									<input type="text" id="playerName" ng-model="input.playerToEdit.name" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label for="playerPicture" class="col-sm-2 control-label">Logo (URL)</label>
								<div class="col-sm-5">
									<input type="url" id="playerPicture"ng-model="input.playerToEdit.picture" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<label for="playerConfirmed" class="col-sm-2 control-label">Confirmed</label>
								<div class="col-sm-5">
										<input type="checkbox" id="playerConfirmed" ng-model="input.playerToEdit.confirmed" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<button class="btn btn-primary" type="submit" ng-click="editPlayer()">Edit</button>
								</div>
							</div>

						</form>

						<hr />

						<!-- Remove Player -->
						<h4><u>Remove Player</u></h4>

						<form name="removePlayerForm" class="form-horizontal">

							<div class="form-group">
								<label for="selectPlayer" class="col-sm-2 control-label">Select Player</label>
								<div class="btn-group col-sm-5" dropdown is-open="status.selectPlayerToRemove" id="selectPlayer">
									<button id="selectPlayerBtn" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
										{{allPlayers[input.playerToRemove].handle}}&nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="selectPlayerBtn">
										<li role="menuitem" ng-repeat="player in allPlayers | filter: playersFilter | orderBy: 'handle'">
											<a ng-click="selectPlayerToRemove(player)" href="">{{player.handle}}</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<button class="btn btn-primary" type="submit" ng-click="confirmDelete(false)">Remove</button>
								</div>
							</div>

						</form>

					</accordion-group>
					
					<!-- Player Selection -->
					<accordion-group is-open="status.playerSelectOpen">
							
						<accordion-heading>
							Free Agents
							<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.playerSelectOpen, 'glyphicon-chevron-right': !status.playerSelectOpen}"></i>
						</accordion-heading>

						<div>
							<form name="playerSearch" class="form-horizontal">
								<div class="form-group">
									<label for="searchText" class="col-sm-1 control-label">Search</label>
									<div class="col-sm-3">
										<input id="searchText" type="search" ng-model="input.search" class="form-control"/>
									</div>
								</div>
							</form>
						</div>

						<hr />
							
						<div class="playerSelection" ng-drop="true" ng-drop-success="onDropPS($index, $data,$event)">
							
							<div ng-repeat="player in allPlayers | filter: playerSelectionFilter | filter: input.search | orderBy: 'handle' "  class="tile well" ng-drag="true" ng-drag-data="player" 
									 data-allow-transform="false" ng-drag-success="onDragPS($index,$data,$event)">
								
								<div class="pic" >
									<img ng-src="{{player.picture}}" ng-if="player.picture!='' && player.picture!='none'"/>
									<i class="glyphicon glyphicon-question-sign" ng-if="player.picture=='none'"></i>
								</div>

								<div class="info">
									<div class="playerHandle">{{ player.handle}}</div>
									<div class="playerName">{{ player.name }} </div>
								</div>

							</div>
	
						</div>

					</accordion-group>
					
				</accordion>
			
			<!-- end right -->
			</div>

		<!-- end main wrapper -->
		</div>	

	</body>

</html>