<!DOCTYPE html>

<html>

	<head>
		<title> Dota2 Team Manager </title>

		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		
	</head>

	<body ng-app="d2tm">

		<!-- main wrapper -->
		<div class="container panel panel-default" ng-controller="d2tmController">

			<div class="left">

				<div class="teamLogo">
					<img ng-src="{{team.logo}}" ng-if="team.logo!=''" />
				</div>

				<div class="teamName">
					{{team.name}}
				</div>

				<div class="teamSponsor">
					<span ng-if="team.sponsor!=''">sponsored by</span> {{team.sponsor}}
				</div>

				<div class="rosterList">
				      <div ng-repeat="player in team.roster" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
				      	<div class="tile well" ng-drag="true" ng-drag-data="player">
				      		<div class="pos">
			      				<div class="rotate" ng-if="$index==5">
			      					coach
			      				</div>
			      				<div class="idx " ng-if="$index!=5" ng-class="{igl: $index==team.captain}" ng-click="setCaptain($index)" title="Make this player the captain">
			      					{{ $index+1 }}
			      				</div>
				      		</div>
					      	<div class="pic" > <img class="handle" src="{{player.picture}}" ng-if="player.picture!=''"/></div>
					        <div class="info">
								<div class="playerHandle">{{ player.handle}}</div>
								<div class="playerName">{{ player.name }} </div>
							</div>
							<i class="pull-left glyphicon glyphicon-remove remove" ng-click="removeFromRoster(player)"></i>
						</div>
						
				      </div>
				</div>

			
				</div>

				<div class="right">
			
					<accordion close-others="true">
						<accordion-group is-open="status.aboutOpen">
							<accordion-heading>
								Instructions
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.aboutOpen, 'glyphicon-chevron-right': !status.aboutOpen}"></i>
							</accordion-heading>
								<h3>Welcome to the Dota 2 Team Manager!</h3>
								<p>To begin, click 'Team Information' below and submit the needed information.</p>
								<p>Then, you will be shown several players in the 'Player Selection' area. Click on a player to add them to your roster.</p>
								<p>Once a player is in your roster, you can move them to a different position by clicking and dragging, make them the in-game leader by clicking the position number, or remove them by clicking the red 'x'.</p>
						</accordion-group>
						<accordion-group is-open="status.teamInfoOpen">
							<accordion-heading>
								Team Information
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.teamInfoOpen, 'glyphicon-chevron-right': !status.teamInfoOpen}"></i>
							</accordion-heading>
							<form name="teamInput">
								<div class="form-group">
									<label for="teamName">Name</label>
									<input type="text" id="teamName" ng-model="input.name" class="form-control"/>
								</div>
								<div class="form-group">
									<label for="teamSponsor">Sponsor</label>	
									<input type="text" id="teamSponsor" ng-model="input.sponsor"  class="form-control"/> 
								</div>
								<div class="form-group">
									<label for="teamLogo">Logo (URL)</label>
									<input type="url" id="teamLogo"ng-model="input.logo" class="form-control" />
								</div>
								<button class="btn btn-default btn-small" type="submit" ng-click="updateTeam()">Submit</button>
							</form>
						</accordion-group>
						<accordion-group is-open="status.playerSelectOpen">
							<accordion-heading>
								Player Selection 
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.playerSelectOpen, 'glyphicon-chevron-right': !status.playerSelectOpen}"></i>
							</accordion-heading>
							<div class="tileSelect">
								<div ng-repeat="player in allPlayers"  class="tile well" ng-click="addToRoster(player)" title="Click to add to roster.">
									<div class="pic" ><img src="{{player.picture}}" /></div>
									<div class="info">
										<div class="playerHandle">{{ player.handle}}</div>
										<div class="playerName">{{ player.name }} </div>
									</div>
								</div>
							</div>
					</accordion>
				</div>

		</div>

		<!-- end main wrapper -->
		</div>



		<!-- scripts -->

		<!-- angular, angular bootstrap -->
		<!-- http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.4,angular.bootstrap@0.13.3,angular.ui-sortable -->
		<script src="lib/custom-build.js"></script>
		<!-- https://github.com/fatlinesofcode/ngDraggable -->
		<script src="lib/ngDraggable.js"></script>


		<!-- app -->
		<script src="app.js"></script>
		<!-- controller -->
		<script src="controller/d2tmController.js"></script>		

	</body>

</html>