<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Austin Garrard">
        <meta name="description" content="Austin's web log hosts his articles and creative works.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} - Austin's Blog</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css" />
    </head>
    
    <body>
		<div class="container">
			<div class="header">
				<h2>Austin's Blog</h2>
				<a href="{{ site.baseurl }}/">Home</a> |
				<a href="{{ site.baseurl }}/about.html">About </a>
			</div>

			<div class="content">
		
