            <div class="italic">
                tags: <a href="{{site.baseurl}}/">all</a> &nbsp;
                      <a href="{{site.baseurl}}/tag/csl/index.html">csl</a> &nbsp;
                      <a href="{{site.baseurl}}/tag/dota/index.html">dota</a> &nbsp;
                      <a href="{{site.baseurl}}/tag/creative/index.html">creative</a> &nbsp;
                      <a href="{{site.baseurl}}/tag/essay/index.html">essay</a> &nbsp;
                      <a href="{{site.baseurl}}/tag/misc/index.html">misc</a> &nbsp;
            </div>
