---
---

//page elements

body {
  background-color: #FFF;
  color: #223;
  font-family: verdana;
  font-size: 1em;
}

$banner_width: 850px;
$banner_height: 185px;
$container_padding: 20px;
$container_width: $banner_width - ($container_padding * 2);
div.container {
    width: $banner_width;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    
    background-color: #fff;
    
    overflow: none;
    
    -moz-box-shadow: 2px 2px 2px 2px #223;
    -webkit-box-shadow: 2px 2px 2px 2px #223;
    box-shadow: 0px 0px 2px 2px #223;
}

div.header {
    width: $container_width;
    height: $banner_height;
    padding: $container_padding;
    text-align: right;
    color: #000;
    background-image: url('banner1.jpg');
    a {
        color: #222;
    }
}

div.content {
    width: $container_width;
    min-height: 400px;
    padding: $container_padding;

    img, iframe {
        max-width: 90%;
        max-height: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        .left {
            max-width: 45%;
            max-height: 400px;
            float: left;
        }
        .right {
            max-width: 45%;
            max-height: 400px;
            float: right;
        }
    }

    h3 {
        text-align: center;
    }

    blockquote {
        font-style: italic;
    }


}

//blog listing
li.blogItem {
    color: #333;
    width: 90%;
    text-align: left;
    list-style-type: none;
    
    a {
        text-decoration: none;
        color: blue;
        font-weight: bold;
        font-size: 1.1em;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .date {
        color: #777;
    }
}

//misc styling

.pageTitle {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
}
.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.description {
    text-align: center;
    font-style: italic;
    font-size: .8em;
    color: #667;
}


hr {
    border: 0;
    height: 0;
    width: 80%;
    border-top: 1px solid rgba(0,0,0,1);
    border-bottom: 1px solid rgba(255,255,255,.3);
}


table.matchInfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 0px;
    
    td {
        width: 50%;
        margin-left: auto;
        margin-right:auto;
        padding-left: 10px;
        padding-right: 10px;
        
        table.picks {
            width: 100%;
            border-style: solid;
            border-width: 1px;
            border-collapse: collapse;
            
            td.hero {
                border-style: solid;
                border-width: 1px;
                text-align: right;
            }
            
            td.player {
                border-style: solid;
                border-width: 1px;
                font-style: italic;
                text-align: left;
            }
        }
    }
}



