
body {
	overflow: hidden;
}

.container {
	min-height: 660px;
}

.left {
	width: 290px;
	float: left;
	padding-top: 20px;
}

.right {
	width: 832px;
	float: right;
	padding-top: 20px;
}

.teamLogo {
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}
.teamLogo img {
	width: 100%;
	height: 100%;
}
.teamName {
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size: 1.8em;
	text-align: center;
}

.teamSponsor {
	font-style: italic;
	font-size: 1.2em;
	text-align: center;
}

.rosterList {
	width: 290px;
	float: left;
}

.tileSelect {
	width: 800px;
	height: 450px;
	float: left;
	display: inline;
	overflow-x: visible;
	overflow-y: scroll;
}

.tile {
	width: 240px;
	height: 65px;
	margin: 5px !important;
	padding: 1px !important;
	float: left;
	/*box-shadow: 2px 2px 2px 2px #001;*/
	overflow:visible;
	/*background: url('/d2tm/img/dark_fish_skin.png');*/
	position: relative;
}

.tileSelect .tile {
	cursor: pointer;
}

.rosterList .tile {
	width: 265px;
	float: none;
	cursor: move;
	margin-right: 0 !important;
}

.tile .pos {
	width: 25px;
	height: 65px;
	text-align: center;
	float: left;
	font-weight: bold;
	font-size: 1em;
	
}

.tile .pic {
	width: 62px;
	height: 62px;
	float: left;
	background-color: #f5f5f5;
}

.tile .pic img {
	width: 100%;
	height: 100%;
}

.tile .info {
	width: 155px;
	height: 65px;
	float:left;
	padding: 2px;
	overflow: hidden;
}

.tile .info .playerHandle {
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 2px;
}
.tile .info .playerName {
	font-style: italic;
	font-size: .9em;
	padding-left: 5px;
}

.pos .idx {
	position: absolute;
	top: 50%;
	transform: translate(50%, -50%);
	cursor: pointer;
}

.igl {
	color: #ff0;
}

/*http://stackoverflow.com/questions/1080792/how-can-i-draw-vertical-text-with-css-cross-browser*/
.pos .rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 150% 150%;
  -moz-transform-origin: 150% 150%;
  -ms-transform-origin: 150% 150%;
  -o-transform-origin: 150% 150%;
  transform-origin: 125% 150%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}




[ng-drop].drag-enter {
    border: solid 5px #ff3;
}

[ng-drag].dragging {
	opacity: 1;
}