
.container {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Arial';
}

.left {
	margin: 10px;
	float: left;
}

.right {
	margin: 10px;
	float: right;
}

.teamInfo {
	position: relative;
	/*top: -200px*/
	width: 290px;
	height: 150px;
	border: solid 5px #c9c9c9;
	border-bottom: none;
	position: relative;
}

.teamInfo input {
	background: transparent;
}

.teamInfo img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: .5;
	z-index: -1;
}

.rosterList {
	width: 290px;
	height: 560px;
	float: left;
	border: solid 5px #c9c9c9;
	border-top: none;
}

.playerSelection {
	width: 770px;
	height: 650px;
	border: solid 5px #c9c9c9;
}



.teamLogo img {
	width: 350px;
	height: 200px;
	opacity: .5;
}


.tileSelect {
	width: 800px;
	height: 400px;
	float: left;
	display: inline;
	overflow-x: visible;
	overflow-y: scroll;
	border: solid 5px #c9c9c9;
}

.tile {
	width: 240px;
	height: 80px;
	margin: 5px;
	float: left;
	box-shadow: 2px 2px 2px 2px #001;	
	overflow:visible;
	position: relative;
	color: #fff;
	background: url('/d2tm/img/dark_fish_skin.png');
}

.tileSelect .tile {
	cursor: pointer;
}

.rosterList .tile {
	width: 265px;
	margin-top: 10px;
	float: none;
	cursor: move;
	position: relative;
}

.tile .pos {
	width: 25px;
	height: 80px;
	text-align: center;
	float: left;
	font-weight: bold;
	font-size: 1em;
	
}

.tile .pic {
	width: 80px;
	height: 80px;
	float: left;
	background-color: #fff;
}

.tile .pic img {
	width: 80px;
	height: 80px;
}

.tile .info {
	width: 150px;
	height: 80px;
	float:left;
	padding: 2px;
	overflow: hidden;
}

.tile .info .playerHandle {
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 2px;
}
.tile .info .playerName {
	font-style: italic;
	font-size: .9em;
	color: #eee;
	padding-left: 5px;
}
.tile .info .heroes {
	width: 200px;
	height: 30px;
}
.info .heroes img {
	margin-left: 5px;
	width: 50px;
	height: 28px;
}

.pos .idx {
	position: absolute;
	top: 50%;
	transform: translate(50%, -50%);
	cursor: pointer;
}

.igl {
	color: #11f;
}

/*http://stackoverflow.com/questions/1080792/how-can-i-draw-vertical-text-with-css-cross-browser*/
.pos .rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 150% 150%;
  -moz-transform-origin: 150% 150%;
  -ms-transform-origin: 150% 150%;
  -o-transform-origin: 150% 150%;
  transform-origin: 125% 150%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.logobtn {
	position: absolute;
	right: 20px;
	bottom: 0px;
	font-size: .5em;
	opacity: .5;
}

.remove{
    position: absolute;
    top: 0px;
    right: 2px;
    cursor:pointer;
    color: #f00;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 4px #001;	
}

/*http://callmenick.com/post/various-css-input-text-styles*/
.style-2 input[type="text"] {
  padding: 10px;
  border: none;
}


#teamName {
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size: 1.8em;
	color: #fff;
	text-shadow: 0px 0px 10px #223;
}

#teamSponsor {
	font-style: italic;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 2px 2px 3px #000;
}

[ng-drop].drag-enter {
    border: solid 5px #ff3;
}

[ng-drag].dragging {
    opacity: 0.5;
}