

.container {
	width: 100%;
	min-height: 650px;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Arial';
}


.sideBar {
	width: 350px;
	height: 650px;
	float: left;
	
}

.sideBar li {
	list-style-type: none;
	list-style-position: outside;
	counter-increment: step-counter;
}

.tileSelect {
	width: 800px;
	height: 650px;
	float: left;
	padding: 10px;
	display: inline;
	border: 1px solid;
	overflow-x: visible;
	overflow-y: scroll;
}

.tile {
	width: 240px;
	height: 80px;
	margin: 5px;
	float: left;
	box-shadow: 2px 2px 2px 2px #001;	
	overflow:visible;
	position: relative;
	color: #fff;
	background: url('/d2tm/img/dark_fish_skin.png');
}

.tileSelect .tile {
	cursor: pointer;
}

.sideBar .tile {
	width: 280px;
	margin-top: 10px;
	float: none;
}

.tile .pos {
	width: 25px;
	height: 80px;
	text-align: center;
	float: left;
	font-weight: bold;
	font-size: 1em;
	
}

.tile .pic {
	width: 80px;
	height: 80px;
	float: left;
	background-color: #fff;
}

.tile .pic img {
	width: 80px;
	height: 80px;
}

.tile .info {
	width: 150px;
	height: 80px;
	float:left;
	padding: 2px;
	overflow: hidden;
}

.tile .info .playerHandle {
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 2px;
}
.tile .info .playerName {
	font-style: italic;
	font-size: .9em;
	color: #eee;
	padding-left: 5px;
}
.tile .info .heroes {
	width: 200px;
	height: 30px;
}
.info .heroes img {
	margin-left: 5px;
	width: 50px;
	height: 28px;
}

.pos .idx {
	position: absolute;
	top: 50%;
	transform: translate(50%, -50%);
	cursor: pointer;
	alt: "Click to set captain";
}

.igl {
	color: #11f;
}

/*http://stackoverflow.com/questions/1080792/how-can-i-draw-vertical-text-with-css-cross-browser*/
.pos .rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 150% 150%;
  -moz-transform-origin: 150% 150%;
  -ms-transform-origin: 150% 150%;
  -o-transform-origin: 150% 150%;
  transform-origin: 125% 150%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.remove{
    float:right;
    cursor:pointer;
    color: #f00;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-right: 4px;
    text-shadow: 1px 1px 4px #001;	
}


/* http://netdna.webdesignerdepot.com/uploads7/how-to-create-a-simple-css3-tooltip/tooltip_demo.html */
.tooltip{
	
}
.tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 120px;
	font-size: .8em;
}
.tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}


