{% include head.html %}
	
	<div class="blogItem">
		<p class="pageTitle">{{ page.title }}</p>
		<p class="author">Austin Garrard - {{ page.mydate }}</p>
		<p class="author">
			<div class="tagList">
				tags: 
				{% for tag in page.tags %}
				<a href="{{site.baseurl}}/tag/{{tag}}/index.html">{{tag}}</a> &nbsp;
				{% endfor %}
			</div>
		</p>
		<hr/>
		
    	{{ content }}
    	
    	<br/>
    	
    	<hr/>
    	
    	<a href="{{ site.baseurl }}/">Back</a>
    
    </div>
    
    <br />

{% include foot.html %}
