{% include head.html %}
    
        <p class="pageTitle">{{ page.title }}</p>
        <p class="center">Daniel Byrne - {{ page.mydate }}</p>
        <p class="center italic">
            tags: 
            <a href="{{site.baseurl}}/">all</a> &nbsp;
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tag/{{tag}}/index.html">{{tag}}</a> &nbsp;
            {% endfor %}
        </p>
        <hr/>
        
{{ content }}
        
        
        <hr/>
    

{% include foot.html %}
